@font-face {
  font-family: "HELVETICA";
  src: url(../font/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf) format(truetype);
}
@font-face {
  font-family: "HELVETICA-2";
  src: url(../font/HELVETICANEUELTGEO-45LIGHTS.ttf) format(truetype);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

header {
    background-color: #0020F4;
    position: fixed;
    width: 100%;
}
.logo {
    max-width: 115px;
    width: 100%;
}
.logo , .header-nav{
    display: inline-block;
    vertical-align: middle;
}
.header-nav li{
    display: inline-block;
    font-family: HELVETICA-2;
}
.nav-ul a{
    color: #FFFF;
}
.header-nav {
    margin-left: 100px;
}
.nav-ul li{
    margin-left: 20px;
}